<p>
  <strong><%= I18n.t('user.first_name') %>:</strong> <br> <i><%= data.first_name %></i> <hr>
</p>

<p>
  <strong><%= I18n.t('user.last_name') %>:</strong> <br> <i><%= data.last_name %></i> <hr>
</p>

<p>
  <strong><%= I18n.t('user.email') %>:</strong> <br> <i><%= data.email %></i> <hr>
</p>

<p>
  <strong><%= I18n.t('user.phone_number') %>:</strong> <br> <i><%= data.phone_number %></i> <hr>
</p>